* {
	padding: 0 0;
	margin: 0;
}

.Header {
	color: white;
	background-color: #1f2837;
}

.Headertop {
	display: flex;
	justify-content: space-between;
	margin-left: 100px;
	margin-right: 100px;
}

ul {
	display: flex;
	list-style: none;
}
a {
	text-decoration: none;
	color: white;
}

.title {
	font-size: 48px;
	font-weight: extra-bold;
	color: #f9faf8;
}
.titlesub {
	font-size: 18px;
	color: #e5e7eb;
}

.headerbody{
	display: flex;
	margin: 100px;
}

img{
	max-height: 250px;
}